<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="CSV Viewer for HWInfo logs">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Log Viewer</title>
  </head>
  <body>
    
    {% block header %} {% endblock %}
    
    <main class="aligned">
      <div class="form-container">
        {% block form %} {% endblock %}
      </div>
    </main>

    <script src="/javascripts/papaparse.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="text/javascript" src="/javascripts/helper.js"></script>
    <script type="text/javascript" src="/javascripts/chart.js"></script>
    <script type="text/javascript" src="/javascripts/stats.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>