.chart-container {
  background-color: #f5f5f5c7;
  width: 100%;
  height: 100%;
}

svg {
  background-color: white;
  margin: 30px 30px 0px 30px;
}

/*
    Except when we have just one tick
    All ticks but the first one appears on the screen
    This way we prevent the first tick from 
    touching the domain line in x-axis
    It's just aesthetics
    And when we have just one tick it doesn't appear for the same reason
    It woulnd't touch the domain line but the chart line
*/

.y-axis {
  font-size: 0.7em;
  .tick {
    line {
      opacity: 0.13;
    }

    &:first-of-type {
      line {
        opacity: 0;
      }
    }
  }

  //Invisible domain in y-axis
  .domain {
    opacity: 0;
  }
}

.x-axis {
  font-size: 0.7em;
}

/*
  Except when we have just one grid line
  All grid lines but the first one appears on the screen
  Same way as the y-axis
*/

.grid {
  .tick {
    opacity: 0.13;

    &:first-of-type {
      opacity: 0;
    }
  }
}
