.header {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: black;
  justify-content: center;
  align-items: center;
  font-family: "Alata", Helvetica, Arial, sans-serif;

  h1 {
    font-size: 3.2em;
    color: white;
    padding: 15px;
    margin: 0px;
  }
}
